.head{
    width: 45vw;
    margin: 10px auto;
    text-align: center;
}
.regular{
    max-width: 30%;
    padding: 10px 25px;
    border-radius: 15px;
}
// .inverted{
//     // transform: scale(1.1);
//     max-width: 30%;
//     // z-index: 1;
//     border-radius: 15px;
// }
.bg-purple{
    background-color: #4A3AFF !important;
    color: #fff;
}