.line_graph_container {
  margin: 3rem 1rem 3rem 14rem;
}
.mixedChart {
  display: flex;
}
.agent_overview {
  justify-content: flex-start;
}
@media (max-width: 840px) {
  .line_graph_container {
    margin-left: 0;
    margin-right: 0;
  }
  .mixedChart {
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
  }
  .agent_overview {
    justify-content: center;
  }
}
