@import url("https://fonts.googleapis.com/css2?family=DM+Mono&family=DM+Serif+Display&family=Fira+Code:wght@500&family=Inter:wght@500&family=Public+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,700&display=swap");
.wallet_container {
  margin: 2rem 2rem 2rem 14rem;
  font-family: "DM mono", monospace !important;
}
.wallet_heading {
  font-family: "DM mono", monospace !important;
}
.bank_details {
  display: flex;
  justify-content: space-between;
}
.bank_account_text {
  /* text-align: center; */
}
.agent_bank {
  /* display: flex; */
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background: conic-gradient(
    from 172.45deg at 37.82% 32.87%,
    rgba(74, 58, 255, 0.54) 0deg,
    #2563eb 166.87deg,
    rgba(74, 58, 255, 0.54) 360deg
  );
  border-radius: 5px;
  padding: 5rem 2rem;
  color: #fff;
  width : 28rem;
}
.cardStyle {
  display : flex;
  justify-content : space-between !important;
}
.bank_button {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}
.fund_btn,
.withdraw_btn {
  border: none;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  margin: 0.5rem;
  width: 10rem;
}
.fund_btn {
  background: #2eb66e;
  color: #fff;
}
.btn-modal {
  width: 10rem;
}

.withdraw_btn {
  color: #000;
  background: #fdfdff;
}
.connect_bank {
  margin-left: 2.5rem;
}
.connect_bank h2 {
  color: #2563eb;
  font-family: "DM mono" monospace !important;
}
.bank_form {
  margin-top: 1rem;
}
.transaction-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #2563eb;
  font-weight: 400;
  font-family: "DM mono", monospace;
}
.details_container {
  position : relative !important;
}
.wallet_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.modal_inputs {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  outline: none;
  text-align: center;
  color: white;
}
input[type="number"]::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
.input_fields,
.details_title,
.details_text {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0rem;

  align-items: center;
}
.input_fields label,
.input_fields input,
.input_fields button {
  margin: 0.1rem 0.3rem;
}
.details_title > label {
  color: #a6a6a6 !important;
  font-family: "DM mono", monospace !important;
  padding: 0.2rem 0.4rem !important;
  display: block;
  width : 25% !important;
}

.details_text > p {
  color: black !important;
  font-weight: 500 !important;
  margin: 0.2rem 0.4rem;
  width : 25% !important;
}

.details_text .details_status_pending {
  color: #ea3223 !important;
  background: #fdebe9;
  border-radius: 4px;
  padding: 0.3rem 0.8rem;
}
.details_text .details_status_completed {
  color: #2563EB !important;
  background: #EDEDFF;
  border-radius: 4px;
  padding: 0.3rem 0.8rem;
}
.details_text .details_period span {
  background-color: #ea3223 !important;
  border-radius: 50%;
  padding: 0.1rem 0.7rem;
  margin-right: 0.5rem;
}

.input_fields input {
  border-radius: 10px;
  border: 1px solid #cccccc !important;
  padding: 0.2rem 0.4rem !important;
  outline: none;
}
.input_fields button {
  border-radius: 5px;
  border: 1px solid #cccccc !important;
  padding: 0.2rem 1.5rem !important;
  outline: none;
}
.watermark {
  font-size : 8rem;
  font-weight : 300;
  color : grey;
  /* color : rgba(0,0,0.8); */
  opacity: 0.2;
  transform : rotate(30deg);
  position : absolute;
  top : 13rem;
  left : -3rem;
  bottom : 0;
  text-align :center;
  /* right : 0; */
}
@media (max-width: 840px) {
  .wallet_container {
    margin: 1rem 1rem 1rem 1rem;
    /* font-size: 0.5rem; */
  }
  .details_container {
    overflow-x: scroll;
  }
  .bank_details {
    flex-wrap : wrap;
    /* display: block; */
    /* justify-content: ; */
    /* align-items : center; */
  }
  .details_text  > p, .details_text >  label {
    width : auto !important;
  }
  .agent_bank {
    width : 20rem;
    /* margin-top : 2rem; */
    padding: 0.8rem;
    margin : 2rem auto;
  }
  .fund_btn,
  .withdraw_btn {
    margin: 0.3;
  }
  .connect_bank {
    margin-left: 0rem;
    margin-top: 1.2rem;
  }
  .wallet_modal {
    width: 80%;
  }
  .watermark {
    display : none !important;
  }
 
}
