.property_container {
  margin-left: 14rem !important;
  margin-right: 2rem !important;
  margin-bottom: 2rem !important;
  margin-top: 1rem !important;
  /* max-width: 75%; */
  position: relative;
}
.search_container {
  display: flex !important;
  justify-content: space-between !important;
  margin: 1rem 2rem;
  align-items: center;
  /* width: 70%; */
}
.info_label {
  font-size: 1.2rem;
  font-family: "DM mono", monospace;
  color: #2563eb;
}
.search_container > div {
  border-radius: 5px;
  display: flex;
  width: 50%;
}
.property_heading {
  color: #2563eb;
  font-weight: 400;
  font-size: 1.5rem;
  font-family: "DM mono", monospace;
}
.add_btn {
  background-color: #225fe2;
  color: #fff !important;
  font-size: 1.2rem;
  width: 12rem;
  border-radius: 5px;
  font-family: "DM mono", monospace;
}

.renderProps {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* align-items  */
}
.search_input {
  border-radius: none !important;
  margin-right: -0.5rem;
  /* height: 2.3rem !important; */
}
.image_container {
  width: 15rem !important;
  font-family: "General Sans", sans-serif;
  text-transform: capitalize;
  font-weight: 600 !important;
  height: max-content !important;
}
.property_image {
  object-fit: cover;
  width: 100%;
  height: 12rem;

  /* border-radius: 15px; */
}

.sell_badge {
  background-color: #ff476b;
  font-family: "General Sans", sans-serif;
}
.rent_badge {
  background-color: #15803d;
}
.property_text {
  font-family: "General Sans", sans-serif;
}
.property_price {
  margin: 0 !important;
  padding: 0 !important;
  color: #ff476b;
  font-weight: 900;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  /* transform: scale(0.6); */
}
.property_location {
  margin: 0 !important;
  font-size: 0.75rem;
  padding: 0 !important;
  color: #15803d;
  font-size: 1rem;
  font-weight: 900;
  /* transform: scale(0.6); */
  letter-spacing: 0.1rem;
}
.property_name {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 1rem;
  font-weight: 900;
  color: #2563eb;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
}

a {
  text-decoration: none;
}
.image_modal  {
padding :4rem;
  /* height : 30rem; */
  /* margin : -15rem 0rem 0rem -15rem; */
  
  /* margin: auto auto; */
 
    position: absolute;
    top: 50%;
    left: 50%;
    right : 2rem;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem;
  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
width : 30rem;
}
.image_modal div {
  overflow-x : scroll !important;
  overflow-y : scroll !important;
}
@media (max-width: 840px) {
  .property_container {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
    margin-bottom: 2rem !important;
    max-width: 100%;
  }
  .add_property {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 0rem;
  }
  .property_search {
    display: flex;
    justify-content: center;
    width: 100% !important;
    transform: scale(0.8);
  }
  .search_icon {
    width: 2rem !important;
  }
  .renderProps {
    /* display: grid; */
    /* grid-template-columns : repeat(2, 1fr); */
    justify-content: center;
  }
  .image_container {
    /* box-shadow: 2px 2px 0.5rem 0.1rem rgb(195, 193, 193); */
    margin: 1rem 0rem;
    width: 18rem !important;
    border-radius: 10px !important;
  }

  .search_container {
    display: block !important;
    margin: 1rem auto;
    width: 90%;
  }
  .search_icon {
    width: 2.3rem !important;
    height: 2.3rem !important;
  }
  .search_input {
    border-radius: none !important;
    margin-right: -0.5rem;
    height: 2.3rem !important;
  }
  .search_container > div {
    border-radius: 5px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
  }
  /* .search_container > div > .form_input  */
  .properties_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    /* margin-left: 0.1rem !important; */
  }
  .image_modal {
    transform: translate(-50%, -50%) scale(0.6);
    position : absolute;
    left : 50%;
    right : 0;
    top : 50%;
    margin :0rem;
    height : auto;
  }
}
