@import url("https://fonts.googleapis.com/css2?family=DM+Mono&family=DM+Serif+Display&family=Fira+Code:wght@500&family=Inter:wght@500&family=Public+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  background-color: #15803d;
  color: white;
}
.font-mono {
  font-family: "DM Serif Display", serif !important;
}
.font-sans {
  font-family: "Public Sans", sans-serif !important;
}
.loader-icon {
  color: red;
  /* background: white; */
  position: absolute;
  top: 50%;
  left : 50%;

  transform : translate(-50%, -50%);
 
  z-index: 5;
}
.sidebar_profile_text {
  font-size: 0.9rem !important;
}
.text_lead {
  color: #6e7191 !important;
  font-family: "Public Sans", sans-serif !important;
}
.semi_text {
  font-family: "DM Serif Display", serif !important;
}
.home_text {
  color: #fff !important;
}
.about_heading {
  font-family: "DM Serif Display", serif !important;
  color: #2562e9 !important;
}
.about_text {
  font-family: poppins !important;
  line-height: 2rem;
  font-weight: 400;
  font-size: 1.1rem;
  color: #2d3d4d;
}
.nav-item {
  font-family: "Public Sans", sans-serif !important;
  color: #2562e9 !important;
  font-weight: 400;
  font-size: 1.2rem !important;
  margin: 0.5rem 0rem !important;
}
.plan_text {
  color: #6e7191 !important;
  font-weight: 200 !important;
  font-family: "DM Mono" monospace !important;
  font-size: 1.2rem;
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* opacity: 0.2; */
}
.auth-container {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  background-color: whitesmoke;
  font-family: "DM Mono" monospace !important;
}
.auth-container div {
  padding: 2rem;
}
.auth-button {
  background: #2562e9;
  border: none;
  color: white;
  padding: 0.2rem 0.8rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 3rem;
}
.auth-text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "DM Serif Display", serif !important;
}
.auth-text button {
  background: #2562e9;
  border: none;
  color: whitesmoke;
  padding: 0.2rem 0.8rem;
  border-radius: 5px;
  font-size: 1rem;
  margin-left: 0.5rem;
  font-family: "DM Serif Display", serif !important;
}
.profile-image-container {
  position: relative;
  margin: 2rem 2rem;
  max-width: 15rem;
}
.file-container {
  width: 10rem;
  height: 10rem;
  /* border: 2px solid #eee; */
  /* padding: 0.02rem; */
  border-radius: 50%;
}

.profile-image-container .profile-image {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  border-radius: 50%;
}

.profile-image-container-sb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0rem 0rem 0rem;
  /* width: 5rem;
  height: 5rem; */
  border-radius: 50%;
}
.profile-image-container-sb .profile-image {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  border-radius: 50%;
}
.file-upload {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.file-upload svg {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}
.read,
.unread {
  text-align: center;
  padding: 0.2rem 0.5rem !important;
  margin: 0.2rem;
  color: white;
  border-radius: 5px;
  background-color: #15803d !important;
  border: none;
}
.unread {
  background-color: #ff476b !important;
}
.bg-primary-100 {
  background: #2562e9 !important;
}
.text-primary-100 {
  color: #2562e9 !important;
}
.paginate-btn {
  padding: 0.3rem 1.2rem !important;
  border: none;
  font-family: "Public Sans", sans-serif !important;
  color: #2562e9 !important;
  border-radius: 5px;
  font-weight: bolder;
}
.paginate-btn:hover {
  transform: scale(0.8);
  background: #2562e9 !important;
  color: whitesmoke !important;
}
.inactive_page,
.active_page {
  background-color: #2562e9;
  border-radius: 50%;
  text-align: center;
  width: 2rem;
  padding: 0.2rem;
  color: white !important;
  transform: scale(1);
  font-family: "Public Sans", sans-serif !important;
}
.inactive_page {
  background-color: whitesmoke;
  color: black !important;
  transform: scale(0.8);
}
.hide-spec {
  display: none;
}
.property-spec {
  display: block;
}
.logout_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 4rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 30;
}
/* .logout_btns {
  width: 20rem;
  margin: 0 auto;
} */
.logout_btns > button {
  width: 8rem;
  margin: 1rem;
}
.Modal_Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  /* background-color: rebeccapurple; */
}
.property_overview_text {
  
  font-size: 1.5rem;
}
.no-values {
  border: 1px dashed #2562e9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Public Sans", sans-serif !important;
  padding: 2rem;
  width: 20rem;
  margin: 2rem auto;
  text-align: center;
}
.chart-container {
width : 35rem;
height : 20rem;
}
@media (max-width: 600px) {
  .no-values {
    width: 20rem;
  }
}
