html,
body {
  margin: 0;
  overflow-x: hidden;
}
* {
  outline : none !important;
}
.bg-purple {
  background-color: var(--bs-purple) !important;
  color: white;
}
ul {
  list-style-type: none;
}
li {
  list-style-type: none;
}
ul li {
  margin: 0.5rem 0;
  cursor: pointer;
  color: #6c757d;
}
ul li a {
  margin: 0.5rem 0;
  cursor: pointer;
  color: #6c757d;
  text-decoration: none;
}
.link-icon {
  display: none !important;
}
.inactive-container {
  padding: 4rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.inactive-container img {
  width: 15rem;
}
.forgot-password {
  text-decoration: underline;
}
